html, body{
    height:100%;
}
 body{
     background-color: #DCDCDC;
}

#menu-deroulant, #menu-deroulant ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#menu-deroulant {
/* on centre le menu dans la page */
  /* text-align: center; */
  margin-bottom: 20px;
}
#menu-deroulant li {
/* on place les liens du menu horizontalement */
  display: inline-block;
}
#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
  display: inherit;
}
#menu-deroulant a {
  text-decoration: none;
  display: block;
color:#000;
}
#menu-deroulant ul {
  position: absolute;
/* on cache les sous menus complètement sur la gauche */
  left: -999em;
  text-align: left;
  z-index: 1000;
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
  left: auto;
}

div.form{
  border: solid;
  padding-bottom: 300px;
}

#one{
  color: red;
}

#content{
  width: 100em;
  background-color: white;
}

div[id*="op"]
{background-color: pink;
border:solid;
border-color: black;
text-align: center;
height:200px;
width:50%;
width: 30%;
height: 100px;


}

div#msous{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
}

#rdmquote{margin-top: 100px;
  height:100px;

width: 100%;
border:solid;
border-color:red;}

div#rdmquote{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
}
div[id*="ph"]{
  margin-left: 15px;
}

